<div class="container border rounded-sm border-dark mt-3 p-3">
    <div>
        <h1>Tambah Data Kendaraan</h1>
    </div>
    <div class="p-2">
        <form method="/" id="form-edit">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="no-reg">No Registrasi</label>
                    <input type="text" class="form-control" id="no-reg" name="noReg" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="tahun-pembuatan">Tahun Pembuatan</label>
                    <input type="text" class="form-control" id="tahun-pembuatan" name="thnPembuatan" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nama-pemilik">Nama Pemilik</label>
                    <input type="text" class="form-control" id="nama-pemilik" name="namaPemilik" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="kapasitas">Kapasitas Silinder</label>
                    <input type="text" class="form-control" id="kapasitas" name="kapasitas" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="merk-kendaraan">Merk Kendaraan</label>
                    <input type="text" class="form-control" id="merk-kendaraan" name="merk" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="warna">Warna Kendaraan</label>
                    <select class="form-control" id="warna" name="warna" required>
                        
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="alamat">Alamat Pemilik Kendaraan</label>
                    <textarea class="form-control" id="alamat" rows="3" name="alamat" required></textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="bahan-bakar">Bahan Bakar</label>
                    <input type="text" class="form-control" id="bahan-bakar" name="bahanBakar" required>
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary">Simpan</button>
                <a class="btn btn-dark" asp-controller="Kendaraan" asp-action="Index">Kembali</a>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 

    <script>

        $(document).ready(function () {
            const url = new URLSearchParams(document.location.search);
            const id = url.get('id');

            const endPoint = `https://localhost:44330/api/kendaraan/detailkendaraan/${id}`;

            $.ajax({
                url: endPoint,
                method: "GET",
                success: function (res) {
                    $("#no-reg").val(res.noRegistrasi);
                    $("#tahun-pembuatan").val(res.tahunPembuatan);
                    $("#nama-pemilik").val(res.namaPemilik);
                    $("#kapasitas").val(res.kapasitas);
                    $("#merk-kendaraan").val(res.merk);
                    $("#warna").val(res.warna);
                    $("#alamat").val(res.alamat);
                    $("#bahan-bakar").val(res.bahanBakar);


                    let warna = ['Merah', 'Hitam', 'Biru', 'Abu-Abu'];

                    let optionsTag = warna.reduce((x, y) => x + `<option value="${y}" ${ y === res.warna ? 'selected' : '' }>${y}</option>`, '');
                    $('#warna').html(optionsTag);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        });

        $("#form-edit").submit((e) => {
            e.preventDefault();

            const { noReg, thnPembuatan, namaPemilik, kapasitas, merk, warna, alamat, bahanBakar } = e.target;

            $.ajax({
                method: "PUT",
                url: `/api/Kendaraan/putkendaraan/${noReg.value}`,
                data: {
                    noRegistrasi: noReg.value,
                    namaPemilik: namaPemilik.value,
                    alamat: alamat.value,
                    merk: merk.value,
                    tahunPembuatan: thnPembuatan.value,
                    kapasitas: kapasitas.value,
                    warna: warna.value,
                    bahanBakar: bahanBakar.value,
                },
                success: function (respon) {
                    alert(`Data Berhasil Diedit`);
                    location.href = `/Kendaraan/Detail?id=${noReg.value}`;
                },
                error: function (err) {
                    alert("Error Server!");
                }
            })
        })

    </script>

}